
.upload__image-wrapper{
    margin-right: 25px;
    margin-left: 25px;
}


.btn{
    border: 1px solid #3498db;
    background: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
}

.btn4{
    color:#3498db;
}

.btn4:hover{
    color:#fff;
}
.btn::before{
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;

}
.btn4:hover::before{
    height: 0%;
}

.inputContent{
    width: 600px;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 3;
    box-sizing: border-box;
    border-radius: 20px 20px 0 20px;
}

.inputContent:hover{
    border-color: #3399FF;
}

.inputContent:focus{
     border-color: #3399FF;
}